<!DOCTYPE html>
<html>

<head>
    <title>{{ action }} Stock</title>
</head>

<body>

    <h1>{{ action }} Stock</h1>

    <h2>{{ medicine.name }}</h2>

    <p>
        Current Stock:
        {{ medicine.quantity }}
    </p>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            {{ action }} Stock
        </button>

    </form>

    <br>

    <a href="{% url 'medicine_list' %}">
        Back to Medicine List
    </a>

</body>

</html>