{% extends "base.html" %}

{% block title %}Appointments{% endblock %}

{% block content %}

<h1>Appointments</h1>

{% if appointments %}

<table>

    <thead>
        <tr>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        {% for appointment in appointments %}

        <tr>

            <td>
                {{ appointment.patient }}
            </td>

            <td>
                {{ appointment.doctor }}
            </td>

            <td>
                {{ appointment.appointment_date }}
            </td>

            <td>
                {{ appointment.appointment_time }}
            </td>

            <td>
                {{ appointment.status }}
            </td>

            <td>

                {% if appointment.status == "COMPLETED" %}

                    <a href="{% url 'create_bill' appointment.id %}"
                       class="btn">
                        Create Bill
                    </a>

                {% else %}

                    <span>No action</span>

                {% endif %}

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% else %}

<div class="card">

    <p>No appointments found.</p>

</div>

{% endif %}

{% endblock %}