{% extends "base.html" %}

{% block title %}Doctor Appointments{% endblock %}

{% block content %}

<h1>Doctor Appointments</h1>

{% if appointments %}

<table>

    <thead>
        <tr>
            <th>Token</th>
            <th>Patient</th>
            <th>Date</th>
            <th>Time</th>
            <th>Reason</th>
            <th>Status / Action</th>
        </tr>
    </thead>

    <tbody>

        {% for appointment in appointments %}

        <tr>

            <td>
                {{ appointment.token_number }}
            </td>

            <td>
                {{ appointment.patient.user.username }}
            </td>

            <td>
                {{ appointment.appointment_date }}
            </td>

            <td>
                {{ appointment.appointment_time }}
            </td>

            <td>
                {{ appointment.reason }}
            </td>

            <td>

                {% if appointment.status == "PENDING" %}

                    <strong>Pending</strong>

                    <div style="margin-top: 8px;">

                        <a href="{% url 'confirm_appointment' appointment.id %}"
                           class="btn">
                            Confirm
                        </a>

                        <a href="{% url 'cancel_appointment' appointment.id %}"
                           class="btn"
                           style="margin-left: 5px;">
                            Cancel
                        </a>

                    </div>

                {% elif appointment.status == "CONFIRMED" %}

                    <strong>Confirmed</strong>

                    <div style="margin-top: 8px;">

                        <a href="{% url 'consultation' appointment.id %}"
                           class="btn">
                            Start Consultation
                        </a>

                    </div>

                {% elif appointment.status == "COMPLETED" %}

                    <strong>Completed</strong>

                    <div style="margin-top: 8px;">

                        <a href="{% url 'create_prescription' appointment.id %}"
                           class="btn">
                            Create Prescription
                        </a>

                    </div>

                    <div style="margin-top: 8px;">

                        <a href="{% url 'request_lab_test' appointment.id %}"
                           class="btn">
                            Request Lab Test
                        </a>

                    </div>

                {% elif appointment.status == "CANCELLED" %}

                    <strong>Cancelled</strong>

                {% endif %}

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% else %}

<div class="card">

    <p>No appointments found.</p>

</div>

{% endif %}

{% endblock %}