{% extends "base.html" %}

{% block title %}My Appointments{% endblock %}

{% block content %}

<h1>My Appointments</h1>

<a href="{% url 'book_appointment' %}" class="btn">
    Book New Appointment
</a>

<div style="margin-top: 25px;">

    {% if appointments %}

    <table>

        <thead>
            <tr>
                <th>Doctor</th>
                <th>Date</th>
                <th>Time</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Token</th>
            </tr>
        </thead>

        <tbody>

            {% for appointment in appointments %}

            <tr>

                <td>
                    Dr. {{ appointment.doctor.user.username }}
                </td>

                <td>
                    {{ appointment.appointment_date }}
                </td>

                <td>
                    {{ appointment.appointment_time }}
                </td>

                <td>
                    {{ appointment.reason }}
                </td>

                <td>
                    {{ appointment.status }}
                </td>

                <td>
                    {{ appointment.token_number }}
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

    {% else %}

    <div class="card" style="margin-top: 20px;">
        <p>You don't have any appointments yet.</p>

        <a href="{% url 'book_appointment' %}" class="btn">
            Book an Appointment
        </a>
    </div>

    {% endif %}

</div>

{% endblock %}