{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="card" style="max-width: 450px; margin: 50px auto;">

    <h1>Login</h1>

    <form method="POST">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit" class="btn">
            Login
        </button>

    </form>

    <p style="margin-top: 20px;">
        Don't have an account?
        <a href="{% url 'register' %}">Register here</a>
    </p>

</div>

{% endblock %}