{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="card" style="max-width: 550px; margin: 30px auto;">

    <h1>Create Account</h1>

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn">
            Register
        </button>
    </form>

    <p style="margin-top: 20px;">
        Already have an account?
        <a href="{% url 'login' %}">Login here</a>
    </p>

</div>

{% endblock %}