{% extends "base.html" %}

{% block title %}Billing{% endblock %}

{% block content %}

<h1>Billing</h1>

<table>

    <thead>
        <tr>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Amount</th>
            <th>Payment Status</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        {% for bill in bills %}
        <tr>
            <td>{{ bill.patient }}</td>
            <td>{{ bill.doctor }}</td>
            <td>Rs. {{ bill.total_amount }}</td>
            <td>{{ bill.payment_status }}</td>
            <td>{{ bill.created_at }}</td>
            <td>
                <a href="{% url 'bill_detail' bill.id %}" class="btn">
                    View
                </a>
            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="6">No bills found.</td>
        </tr>
        {% endfor %}

    </tbody>

</table>

{% endblock %}